* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --red-color: #a4161a;
  --yellow-color: #ffc300;
  --black-color: #000814;
  --blue-color: #001d3d;
  --white-color: #ffffff;
  --yellow-txt-color: #ffd60a;

  --border-radius: 20px;
}

body {
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  background-color: var(--black-color);
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.mercedes-pic {
  height: 500px;
  width: auto;
  border-radius: var(--border-radius);
}

h1 {
  text-align: center;
  color: var(--red-color);
  font-size: 46px;
  font-weight: bold;
}

header {
  padding: 10px;
  width: 100vw;
  height: 70px;
  background-color: var(--yellow-color);
}

h2 {
  font-size: 18px;
  color: var(--yellow-txt-color);
  text-align: center;
  margin: 20px 0 10px 0;
}

.container {
  margin-top: 30px;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  position: absolute;
  display: flex;
  gap: 10px;
}

form {
  padding: 10px;
  background-color: var(--yellow-color);
  height: 400px;
  margin-bottom: 10px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: rgba(167, 167, 167, 0.473) 0px 22px 70px 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 25px;
}

.form-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-txt {
  color: var(--white-color);
  background-color: var(--blue-color);
  height: 80px;
  text-align: center;
  padding: 30px 0 0 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

span {
  color: var(--white-color);
}

a:link,
a {
  color: var(--white-color);
  border-bottom: 3px solid var(--yellow-color);
  text-decoration: none;
}

label {
  font-weight: 600;
  padding: 7px;
}

.sub-btn {
  position: absolute;
  font-size: 20px;
  width: 200px;
  padding: 10px;
  bottom: 40px;
  right: 90px;
  font-weight: bold;
  background-color: var(--blue-color);
  color: var(--yellow-color);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.sub-btn:active {
  transform: scale(1.08);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.img-container {
  position: relative;
  text-align: center;
  color: var(--white-color);
}

.pic-owner {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  background-color: #0008148a;
}

input {
  border-radius: var(--border-radius);
  border: none;
  padding: 5px;
}

input:focus {
  border-color: var(--blue-color);
}

input:valid {
  background-color: lightgreen;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ************************* */
.body-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-2 {
  margin-top: 50px;
}

.confirmation-box {
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: var(--yellow-color);
  border-radius: var(--border-radius);
  box-shadow: rgba(167, 167, 167, 0.39) 0px 22px 70px 4px;
}

.confirm-h3 {
  border-radius: 10px 10px 0 0;
}

.confirm-txt {
  padding: 10px;
  font-size: 18px;
  line-height: 1.6;
}

.user-information-box {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 5px;
}

.user-information-box div {
  border-bottom: 1px solid var(--blue-color);
}

.go-back-container {
  margin-top: 40px;
}

.back-btn {
  background-color: var(--blue-color);
  color: var(--yellow-color);
  padding: 20px;
  border-radius: var(--border-radius);
  font-size: 18px;
  font-weight: bold;
}

.go-back-container a:active {
  font-size: 22px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

/* ***************************** */

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
}

.log-in-form {
  height: 350px;
}

.login-head {
  margin: 0px;
  font-size: 22px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  border-radius: 0;
  width: 100%;
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--black-color);
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: var(--blue-color);
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -16px;
  left: 0;
  opacity: 0.7;
  font-size: 12px;
}

.log-in-btn {
  position: relative;
  left: 90px;
  top: 50px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: var(--white-color);
  color: #000814;
  font-weight: bold;
}

.log-in-btn:active {
  background-color: var(--blue-color);
  color: var(--yellow-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  font-size: 26px;
  left: 80px;
}

.log-in-btn span {
  position: absolute;
  display: block;
}

/* BTN-Animation */
.log-in-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--blue-color));
  animation: btn-anim 1s linear infinite;
}

@keyframes btn-anim {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.log-in-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--blue-color));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.log-in-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--blue-color));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.log-in-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--blue-color));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
